In [1]:
pwd()# for check the present working directory

'F:\\00  - Machine Learning ++\\01 -  Python  ++'

In [2]:
1+1

2

In [4]:
a = 1 #reserve a sapce  a main memory (heap memory)
a

1

In [5]:
type(a)  # predefine function to check the type of data

int

In [6]:
abhi = 56
abhi

56

In [7]:
type(abhi)

int

press shift+tab for gettig help about a particular function

In [10]:
print(abhi)  #  a predefine function

56

In [8]:
type(9)

int

In [9]:
type(76325)

int

In [11]:
abhi.    #press tab for knowing al the function

In [12]:
type(print(abhi))  # print is none type of variable

56

NoneType

String

In [13]:
b = 'Abhishek Pandey'
b

'Abhishek Pandey'

In [14]:
type(b
    )

str

In [15]:
b = 6.7

In [16]:
type(b)

float

In [17]:
True

True

In [18]:
False

False

In [19]:
True * True

1

In [20]:
True * False

0

In [21]:
False * True

0

In [22]:
False / False

ZeroDivisionError: division by zero

In [23]:
True / False

ZeroDivisionError: division by zero

real Number  - You well able to point on scale
(complex number )imaginery Number - number which exist imaginary scaling

In [25]:
c = 7 + 8j #( j as a notation for complex number )
c

(7+8j)

In [26]:
type(c)

complex

In [27]:
c.real

7.0

In [29]:
c.imag  #access imaganry part

8.0

In [31]:
c.conjugate()  #conjugate a object a mirror object

(7-8j)

In [32]:
d  = 5-8j
d

(5-8j)

In [33]:
d.conjugate()  # 5-8j --> 5+8j

(5+8j)

In [34]:
s = 'Abhishek Pandey'
s = "abhishek Pandey"
s

'Abhishek Pandey'

In [35]:
type(s)

str

In [38]:
s[0]

'A'

In [39]:
s[-1]

'y'

In [40]:
len(s)

15

collection : which hold a multiple data

In [2]:
i = 10
if i<5:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2c446f94c3ad>, line 3)

In [3]:
i = 10
if i<5:
print("this condition  is true")

IndentationError: expected an indented block (<ipython-input-3-04cba16f2fb8>, line 3)

In [4]:
i = 10
if i<5:
    pass

In [5]:
i = 10
if i>5:
    print("this condition  is true")

this condition  is true

In [6]:
i = 10
if i<5:
    print("this condition  is true")
elif i == 10:
    print("this is a valdi statement in elif ")

this is a valdi statement in elif

In [7]:
i = 10
if i<5:
    print("this condition  is true")
elif i == 10:
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this is a valid statementin elif

In [8]:
i = 10
if (i<5):
    print("this condition  is true")
elif (i == 10):
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this is a valid statementin elif

In [10]:
if (i< 5) & (i == 10):
    print("this is  a valid statement")
elif (i < 10):
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this will give me a default stataement

In [11]:
i = 10
s = 'Abhi'
if i == 10:
    if type(s)==str:
        print("this is my name")
    else: 
        print("this is deafult ondition")
else:
    print("thsi iis default datement for outer if block ")

this is my name

In [12]:
i = 10
s = 'Abhi'
if i == 10:
    if type(s)==int:
        print("this is my name")
    else: 
        print("this is deafult ondition")
else:
    print("thsi iis default datement for outer if block ")

this is deafult ondition

List :

In [13]:
l = [3,4,5,6,"abhi", "pandey", "xyz"]
l

[3, 4, 5, 6, 'abhi', 'pandey', 'xyz']

In [14]:
l[::2]

[3, 5, 'abhi', 'xyz']

In [15]:
for i in l:
    pass

In [16]:
for i in l:
    print(i)

3
4
5
6
abhi
pandey
xyz

In [18]:
m = []
for i in l:
    m.append(i)

In [19]:
m

[3, 4, 5, 6, 'abhi', 'pandey', 'xyz']

In [20]:
m = []
for i in l:
    if type(i)==int:
        m.append(i)

In [21]:
m

[3, 4, 5, 6]

In [22]:
m = []
for i in l:
    if type(i)==str:
        m.append(i)

In [23]:
m

['abhi', 'pandey', 'xyz']

In [24]:
m = []
for i in l:
    if type(i)==int:
        m.append(i*10)

In [31]:
b=[]
for i in l:
    if type(i)== int:
        i=i+i
        b.append(i)
b

[6, 8, 10, 12]

In [32]:
 for i in l:
        if type(i)==int:
            i=i+i
            print(i)

6
8
10
12

In [33]:
m=0
for i in l:
    if type(i) ==int:
        m=m+i
print(m)

18

In [35]:
for i in "abhishek":
    print(i)

a
b
h
i
s
h
e
k

In [36]:
l = [4,5,6,6]
for i in l:
    print(i)
else:
    print("this is the for else block")

4
5
6
6
this is the for else block

In [37]:
l = [4,5,6,6]
for i in l:
    if i == 6:
        break
    print(i)
else: 
    print("this is the for else block")

4
5

In [38]:
l = [4,5,6,6]
for i in l:
    if i == 7:
        break
    print(i)
else:
    print("this is the for else block")

4
5
6
6
this is the for else block

COntinue statement

In [39]:
s = "abhisehk Pandey "
for i in s:
    if i == 'k':
        continue
    print(i)

a
b
h
i
s
e
h

P
a
n
d
e
y

range function : genertae some of kind (int)

In [40]:
range(6)

range(0, 6)

In [41]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [42]:
list(range(4,9))

[4, 5, 6, 7, 8]

In [43]:
list(range(4,9,2))

[4, 6, 8]

In [44]:
list(range(4,9,2.0)) #arange funstion in numpy where we can use float value

TypeError: 'float' object cannot be interpreted as an integer

In [45]:
l = [5,6,7,4,5,"abhi", "pandey"]
l

[5, 6, 7, 4, 5, 'abhi', 'pandey']

In [46]:
len(l)

7

In [47]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6

In [48]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
abhi
pandey

HOw we can take a input from keyboard

In [49]:
input()

abhhske pandey

'abhhske pandey'

In [50]:
input() #always return as a string

1234567

'1234567'

In [51]:
int(input())

12

12

In [52]:
float(input())

12.465567

12.465567

In [54]:
a = input("take my age")
type(a)

take my anme and age12

str

In [55]:
a = int(input("take my age"))
type(a)

take my age12

int

In [56]:
"abhihsek"+"pandey"  #concetination

'abhihsekpandey'

In [57]:
"abhihsek" + 9

TypeError: must be str, not int

In [58]:
"abhihsek" + '9'

'abhihsek9'

In [59]:
"abhihsek" + str(9)

'abhihsek9'

In [60]:
l = [4,5,6,6]
l1 = [4,5,6,2,3]

In [61]:
l + ["abhishek"]

[4, 5, 6, 6, 'abhishek']

In [62]:
l + l1

[4, 5, 6, 6, 4, 5, 6, 2, 3]

In [63]:
l + list(['abhishlk'])

[4, 5, 6, 6, 'abhishlk']

In [64]:
"abhihsek 'pandey'"

"abhihsek 'pandey'"

In [66]:
#this is code to explain str operation
"abhhsek "pandey""

SyntaxError: invalid syntax (<ipython-input-66-3004931928ee>, line 2)

In [68]:
# Multiple line 
'''
ya is a
multi
linr 
comment
'''

'\nya is a\nmulti\nlinr \ncomment\n'

In [1]:
 s = "abhi"

In [2]:
s.capitalize()

'Abhi'

In [3]:
s

'abhi'

In [4]:
s = s.capitalize()

In [5]:
s

'Abhi'

In [6]:
s.upper()

'ABHI'

In [11]:
s = "helo world abhishek pandey"

In [12]:
s.split()

['helo', 'world', 'abhishek', 'pandey']

In [13]:
s.split('o')

['hel', ' w', 'rld abhishek pandey']

Format Function

In [14]:
"my name is {}. my age is {}".format('Abhoshek', 32)

'my name is Abhoshek. my age is 32'

In [15]:
s = "hello world"

In [17]:
s.find('l')  #first occurence of data

2

In [29]:
str = 'hello world'
l= []
l1 = []
for i in range(len(str)):
    if str[i]=='l':
        l.append(i)
        l1.append(str[i])
print(l)
print(l1)

[2, 3, 9]
['l', 'l', 'l']

In [30]:
s = "abhi"
s

'abhi'

In [31]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvvabhivvvvvvvvvvvvvvvvvv'

In [32]:
s.center(40,'vu')

TypeError: The fill character must be exactly one character long

In [33]:
'hello\tworld'.expandtabs()

'hello   world'

In [38]:
y = 'hello'
y

'hello'

In [39]:
y.isalnum()

True

In [40]:
y.isalpha()

True

In [42]:
y.isnumeric()

False

In [43]:
y.islower()

True

In [44]:
y.isupper()

False

In [45]:
y.isspace()

False

In [46]:
"abhi" *3

'abhiabhiabhi'

In [47]:
[5,6,8]*3

[5, 6, 8, 5, 6, 8, 5, 6, 8]

In [48]:
l = [1,2,3,4,5,6,6,7,"abhi"]
l

[1, 2, 3, 4, 5, 6, 6, 7, 'abhi']

In [49]:
l.append("apndey")

In [50]:
l

[1, 2, 3, 4, 5, 6, 6, 7, 'abhi', 'apndey']

In [51]:
l.insert(2,"xyz")

In [52]:
l.pop()

'apndey'

In [53]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 6, 7, 'abhi']

In [54]:
l.pop()

'abhi'

In [55]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 6, 7]

In [56]:
l.pop(3)

3

In [57]:
l

[1, 2, 'xyz', 4, 5, 6, 6, 7]

In [58]:
 l[::-1]

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [59]:
l

[1, 2, 'xyz', 4, 5, 6, 6, 7]

In [60]:
l.reverse()

In [61]:
l

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [62]:
l

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [63]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
l = [1,2,3,4,4,3,2]
l.sort()

In [68]:
l

[1, 2, 2, 3, 3, 4, 4]

In [69]:
s1 = ["abhi","pandey","lucknow"]

In [70]:
s1.sort()

In [71]:
s1

['abhi', 'lucknow', 'pandey']

In [72]:
l = [4,5,66,7]
l[3] = "abhi"  #possible bcs list is a mutible but not string

In [73]:
l

[4, 5, 66, 'abhi']

In [74]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,4,5,3]

In [75]:
l = [l1,l2,l3]

In [76]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 4, 5, 3]]

In [77]:
# [3,7,5]
n = []
for lis in l:
    n.append(lis[2])
n

[3, 7, 5]

list comprihension

In [78]:
[i[2] for i in l]

[3, 7, 5]

In [79]:
l = [4,5,6,6]

In [82]:
l.append([1,2,3,4,5])

In [83]:
l

[4, 5, 6, 6, 8, [1, 2, 3, 4, 5]]

In [84]:
l1 = [4,5,6,7]

In [85]:
l1.extend([5,6,7]) # in this case list will not append not bracket

In [86]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [87]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
#iwant to remove all the '2'

l = [i for i in l if i!=2]
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [90]:
m = []
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
for i in l:
    if i != 2:
        m.append(i)
print(m)

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [92]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
while 2 in l:
    l.remove(2)
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [94]:
list(range(40,10,-3)) #why 13 so pls draw a scaling

[40, 37, 34, 31, 28, 25, 22, 19, 16, 13]

In [ ]:
LIST

In [1]:
l = []
type(l)

list

In [2]:
l1 = list()
type(l1)

list

In [3]:
li = list("Abhi") #string is a iterable variable
li

['A', 'b', 'h', 'i']

In [4]:
li = list(["Abhi"]) #iterable variable
li

['Abhi']

In [6]:
l1 = list(34)  #int' object is not iterable

TypeError: 'int' object is not iterable

In [7]:
l = [3,4,5,6,7,7]
l[0] = "abhi"
l

['abhi', 4, 5, 6, 7, 7]

Tuples

In [8]:
c = ()
type(c)

tuple

In [9]:
c = (93,4,545,67,7)
c

(93, 4, 545, 67, 7)

In [10]:
c = (1,2,33,4,"abhi", "a", "mai")
c

(1, 2, 33, 4, 'abhi', 'a', 'mai')

In [11]:
type(c)

tuple

how tuple are differ

In [12]:
c[0]

1

In [13]:
c[0:5]

(1, 2, 33, 4, 'abhi')

In [14]:
c[0:5:2]

(1, 33, 'abhi')

In [15]:
c[::-1]

('mai', 'a', 'abhi', 4, 33, 2, 1)

In [16]:
c[0] = 'abhiyantriki'  # i a not able to replace it becase it is imutable entity

TypeError: 'tuple' object does not support item assignment

Iterate the data or not

In [17]:
for i in c:
    print(i)

1
2
33
4
abhi
a
mai

In [21]:
c.count(1)

1

In [22]:
c.count(33)

1

In [23]:
c.count('Abhi')

0

In [24]:
c.index(1)

0

In [25]:
c.index(33)

2

In [26]:
a = 4,5,6,7  #simple normal variable a
a

(4, 5, 6, 7)

In [27]:
type(a)

tuple

In [28]:
a[2]

6

In [29]:
a,b,c,  = 4,5,6

In [30]:
a

4

In [31]:
b

5

In [32]:
c

6

In [33]:
type(a)

int

Nested Tuple

In [34]:
t = ((3,4,5), (5,6,7,8))

In [35]:
t

((3, 4, 5), (5, 6, 7, 8))

In [37]:
l = [(1,2,3,4,5)]

In [38]:
l

[(1, 2, 3, 4, 5)]

In [39]:
l[0][2]

3

In [40]:
b = ([4,5,6,7,8])

In [41]:
b

[4, 5, 6, 7, 8]

In [42]:
type(b)

list

In [43]:
b[0]

4

In [44]:
b = ([2,3,4,5], [1,2,7,8])
b

([2, 3, 4, 5], [1, 2, 7, 8])

In [45]:
type(b)

tuple

how to make mutable tuple

In [46]:
c = (4,5,6,7)
l = list(c)
l

[4, 5, 6, 7]

In [47]:
l[3] = 'ABhishek'

In [48]:
l

[4, 5, 6, 'ABhishek']

In [49]:
tuple(l)

(4, 5, 6, 'ABhishek')

# Sets

In [50]:
s = {}

In [51]:
type(s) #its showing sets data type

dict

In [52]:
s = {1,2,4,5,6}
type(s)

set

In [55]:
s = {1,2,3,5,7,"abhi",2,1,4,6,5,1,5,3,6,2,1, "abhi", "Abhi"}
s

{1, 2, 3, 4, 5, 6, 7, 'Abhi', 'abhi'}

In [56]:
x =set() # by functoin

In [57]:
type(x)

set

In [58]:
s = {[1,2,3,4,5,6], [6,7,8,9]}

TypeError: unhashable type: 'list'

In [59]:
x = set(1,23,4,5,7,8,8)

TypeError: set expected at most 1 arguments, got 7

In [63]:
x = set([1,23,4,5,7,8,8,1,23])
x

{1, 4, 5, 7, 8, 23}

In [65]:
x[0]

TypeError: 'set' object does not support indexing

In [64]:
for i in x:
    print(i)

1
4
5
7
8
23

INbuilt methode

In [66]:
x

{1, 4, 5, 7, 8, 23}

In [67]:
x.add(55)

In [68]:
x

{1, 4, 5, 7, 8, 23, 55}

In [71]:
l = list(x)
l

[1, 4, 5, 7, 8, 55, 23]

In [72]:
set(l)

{1, 4, 5, 7, 8, 23, 55}

In [75]:
# set holddata in ascending order ?
n = {1,6,3,4,9,1,3,0.45,32,78,90,23}
n

{0.45, 1, 3, 4, 6, 9, 23, 32, 78, 90}

In [76]:
n = {1,6,3,4,9,1,3,0.45,32,78,90,23,"Abhi", "sudh", 'a',3,4,2,6,75,34,90,67}
n

{0.45, 1, 2, 23, 3, 32, 34, 4, 6, 67, 75, 78, 9, 90, 'Abhi', 'a', 'sudh'}

sort the data first element of the number 234,32,31,4

#Dictionaries

In [1]:
v = {}
type(v)

dict

In [2]:
v = {'key':"abhi"}
type(v)

dict

In [3]:
v[0] #key error

KeyError: 0

In [5]:
v['key']

'abhi'

In [8]:
v = {'key1':"abhi", 'key2':"xyz",'key3':'abc'}
v

{'key1': 'abhi', 'key2': 'xyz', 'key3': 'abc'}

In [9]:
v['key1']

'abhi'

In [10]:
v['key2']

'xyz'

In [14]:
v = {1:9, 2:45, 3:"abhi"}

In [15]:
v

{1: 9, 2: 45, 3: 'abhi'}

In [16]:
v[1]

9

In [17]:
v[3]

'abhi'

In [19]:

v = {'key':'abhi', 'key':'pandey'}  #override when same key name 
v

{'key': 'pandey'}

In [20]:
v = {"key1":"abhi", 'key2':[1,2,3,4,5,'abhi']}

In [21]:
v

{'key1': 'abhi', 'key2': [1, 2, 3, 4, 5, 'abhi']}

In [22]:
v['key2']

[1, 2, 3, 4, 5, 'abhi']

In [23]:
v = {"key1":"abhi", 'key2':(1,2,3,4,5)}

In [24]:
v

{'key1': 'abhi', 'key2': (1, 2, 3, 4, 5)}

dict within dict

In [25]:
d = {'a':34, 'b':345, 'c':'ABhi','d':{0:1231234, 1:12312, 2:32423}}

In [26]:
d

{'a': 34, 'b': 345, 'c': 'ABhi', 'd': {0: 1231234, 1: 12312, 2: 32423}}

In [27]:
d['d']

{0: 1231234, 1: 12312, 2: 32423}

In [28]:
d['d'][0]

1231234

In [29]:
for i in d:
    print(i)  #output = key only not value

a
b
c
d

In [31]:
for i in d:
    print(i+ " " + str(d[i]))

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [32]:
for i in d:
    print(i,str(d[i]))

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [34]:
for i in d:
    print(i, d[i])

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [35]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [36]:
d.values()

dict_values([34, 345, 'ABhi', {0: 1231234, 1: 12312, 2: 32423}])

In [37]:
my_dict = {True:'value1','key2':'abhi' }

In [38]:
my_dict

{True: 'value1', 'key2': 'abhi'}

In [39]:
my_dict['key45'] = 'new_name '

In [40]:
my_dict

{True: 'value1', 'key2': 'abhi', 'key45': 'new_name '}

Update

In [44]:
my_dict['key2']='abhishek_updated'

In [45]:
my_dict

{True: 'value1', 'key2': 'abhishek_updated', 'key45': 'new_name '}

# Nesting Dictionary

In [46]:
d = {'key1':{'nestkey':{'sunnestkey':'value'}}}

In [47]:
d

{'key1': {'nestkey': {'sunnestkey': 'value'}}}

In [48]:
d['key1']

{'nestkey': {'sunnestkey': 'value'}}

In [49]:
d['key1']['nestkey']

{'sunnestkey': 'value'}

In [51]:
d.items()

dict_items([('key1', {'nestkey': {'sunnestkey': 'value'}})])

Dictionary  Comprihension

In [52]:
l = ['abhi', 'pandey','xyz', 'abc']
l

['abhi', 'pandey', 'xyz', 'abc']

In [53]:
{i[0]:i for i in l}

{'a': 'abc', 'p': 'pandey', 'x': 'xyz'}

In [55]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [56]:
{x:x**2 for x in range(10) if x%2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [57]:
{x:x**2 for x in range(10) if x%2 == 1}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [58]:
#condition 
l = ['abhi', 'pandey','xyz', 'abc',2,3,4]
l

['abhi', 'pandey', 'xyz', 'abc', 2, 3, 4]

In [59]:
{i[0]:i for i in l}

TypeError: 'int' object is not subscriptable

In [60]:
{i[0]:i for i in l if type(i) == str}

{'a': 'abc', 'p': 'pandey', 'x': 'xyz'}

# FUnction

In [61]:
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-61-9873bc519466>, line 1)

In [62]:
def test():
    pass

In [63]:
def test():
    print('this is my first function ')

In [64]:
test()   #fucntion calling

this is my first function

In [65]:
a = test()
a

this is my first function

In [67]:
type(a)

NoneType

In [66]:
a + "abhi"   #nonetype+str is not allowed to concate

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [68]:
def test1():
    return 'this isfunctoin with return type'

In [70]:
test1()

'this isfunctoin with return type'

In [72]:
b = test1()
b

'this isfunctoin with return type'

In [75]:
type(b)

str

In [74]:
b+ "abhishek "

'this isfunctoin with return typeabhishek '

In [76]:
def test1():
    return 5+8j , 5,6,78

In [77]:
test1()

((5+8j), 5, 6, 78)

In [78]:
a,b,c,d = test1()

In [79]:
a

(5+8j)

In [80]:
b

5

In [81]:
c

6

In [82]:
d

78

In [84]:
a,_,_,_ = test1()
a

(5+8j)

(5+8j)

In [86]:
def test2(a,b):
    return a+b

In [87]:
test2(1,2)

3

In [90]:
test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [91]:
test2([1,2,3,4,5], "abhi")

TypeError: can only concatenate list (not "str") to list

In [92]:
test2([1,2,3,4,5], list("abhi"))

[1, 2, 3, 4, 5, 'a', 'b', 'h', 'i']

In [2]:
def tset1():
    return 5+8j, 1 , 2,3

In [5]:
tset1()

((5+8j), 1, 2, 3)

Argumented Funaction

In [6]:
def test5(a, b = 1):
    return a+b

In [7]:
test5(10)

11

In [8]:
test5(10,10)

20

In [10]:
def test(a,b,m,m): #name should not be duplicate at any point of time 
    pass

SyntaxError: duplicate argument 'm' in function definition (<ipython-input-10-11646af84bd6>, line 4)

In [11]:
def  test5(a,b=12,n,m):  #defu;at argument should be last argumant 
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-11-5e61448125d0>, line 1)

In [12]:
def  test5(a,n,mb=12):  #defu;at argument should be last argumant 
    pass

In [15]:
def modifylist(a):
    l = []
    if type(a) == list:
        for i in a :
            l.append(i+4)
    else:
        print('input is not a list')
    return l

In [16]:
modifylist([1,2,3,4,5,6,7,8,9])

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [17]:
modifylist('hello')

input is not a list

[]

In [19]:
def modifylist(a):
    l = []
    if type(a) == list:
        for i in a :
            l.append(i+4)
        return l
    else:
        print('input is not a list')

In [20]:
modifylist([1,2,3,4])

[5, 6, 7, 8]

Placeholder

In [22]:
def greeting(name):
    print('hello %d'%name)

In [25]:
greeting(12)

hello 12

In [26]:
def greeting(name):
    print('hello %s'%name)

In [27]:
greeting('abhi')

hello abhi

In [124]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else:
            print('prime')

In [127]:
is_prime(17)

prime

In [32]:
is_prime(12)

not prime

In [37]:
is_prime(123123778877453521377)

not prime

In [47]:
import math

def is_prime(num):
    if num % 2 == 0 and num >  2:#check for even number
        return False
    for i in range(3, int(math.sqrt(num))+1,2): #chek for odd number
        if num % i == 0:
            return False
    return True

In [48]:
is_prime(101)

True

In [52]:
is_prime(17)

True

In [53]:
is_prime(2)

True

# Iteratore and Generatoer

In [54]:
range(8)  #Generatore functionn

range(0, 8)

In [55]:
type(range(0,8))

range

In [56]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

How to create range like function

In [57]:
def gencubes(n):
    for num in range(n):
        print(num**3)

In [59]:
gencubes(9)

0
1
8
27
64
125
216
343
512

In [104]:
# this function is a generatore function 
def gencubes(n):
    for num in range(n):
        yield(num**3)

In [105]:
gencubes(5)

In [106]:
b = gencubes(6)

In [110]:
next(b)

8

In [68]:
list(gencubes(5))

[0, 1, 8, 27, 64]

In [70]:
next(gencubes(5))

0

In [71]:
for i in gencubes(5):
    print(i)

0
1
8
27
64

In [75]:
a = 'abhi'  #string is itearbele its not a iteratore 
next(a)

TypeError: 'str' object is not an iterator

In [79]:
a = 189
next(a)

TypeError: 'int' object is not an iterator

In [80]:
iter(12)

TypeError: 'int' object is not iterable

In [78]:
b  =iter(a)
next(b)

'a'

In [73]:
for i in "abhishek Pandey":
    print(i)

a
b
h
i
s
h
e
k

P
a
n
d
e
y

In [ ]:
ierable  : 
iteratore:

In [81]:
a  ='abhi'

In [82]:
next(a)

TypeError: 'str' object is not an iterator

In [83]:
c = iter(a)  #data must be have iterable otherwise you cant convert it into iterable

In [86]:
next(c)

'h'

In [87]:
c = iter(739485)

TypeError: 'int' object is not iterable

In [89]:
s =  [ 1,2,3,4,5,6]

In [90]:
next(s)

TypeError: 'list' object is not an iterator

In [92]:
c = iter(s)

In [96]:
next(c)

4

In [111]:
next(range(8))

TypeError: 'range' object is not an iterator

In [112]:
b = iter(range(6))

In [115]:
next(b)

2

fibonacci

In [116]:
def genfibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b  = b,a+b

In [119]:
for num in genfibon(10):
    print(num, end=",")

1,1,2,3,5,8,13,21,34,55,

In [120]:
def fibon(n):
    a = 1
    b =1 
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [121]:
fibon(5)

[1, 1, 2, 3, 5]

In [123]:
fibon(100)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075]

MAP Function

In [4]:
def fahrenheit(T):
    return ((float(9)/5)*(T-32))

In [5]:
def celsius(T):
    return (float(5)/9)*(T-32)

In [6]:
def sum(x,y):
    return x+y

In [7]:
temp = [0,22.5,40,100]

In [8]:
l = []
for i in temp:
    l.append(fahrenheit(i))

In [9]:
l

[-57.6, -17.1, 14.4, 122.4]

In [11]:
# mqp(function , data)
F_temp = list(map(fahrenheit, temp))

F_temp

[-57.6, -17.1, 14.4, 122.4]

In [ ]:
list(map)

In [14]:
def test(b):
    return b**5

In [15]:
l = [1,2,3,4,5]

In [17]:
m = []
for i in l:
    m.append(test(i))
m

[1, 32, 243, 1024, 3125]

In [18]:
#by using MAP function 
list(map(test,l))

[1, 32, 243, 1024, 3125]

In [20]:
# Lamnda OPeration : able to create anynomous funcition
    
list(map(lambda x:x**5,l))

[1, 32, 243, 1024, 3125]

In [21]:
a  = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12,4,5]

In [22]:
def test(x,y,z):
    return x+y+z

In [23]:
list(map(test,a,b,c))

[15, 18, 21, 24]

In [24]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

Reduc function --> for aggregation opeartion

In [27]:
from functools import reduce
lst   = [ 'asdASD','ASDas','asfdasc','sds']
l = [4,11,42,13]
reduce(lambda a,b : a+b, lst)

'asdASDASDasasfdascsds'

In [28]:
def summation(a,b):
    return a+b

In [30]:
from functools import reduce
reduce(summation, l)

70

In [32]:
reduce(lambda a,b: a+b, l)

70

In [31]:
from functools import reduce
reduce(summation, lst)

'asdASDASDasasfdascsds'

In [ ]:
from IPython.display import Image
Image()

Lambda + Filter

In [1]:
def even_check(num):
    if num%2 == 0:
        return True

In [3]:
lst = [1,2,3,4,55,6,7,3,2]
list(filter(even_check, lst))

[2, 4, 6, 2]

In [4]:
def even_check(num):
    if num%2 == 0:
        return False
    
lst = [1,2,3,4,55,6,7,3,2]
list(filter(even_check, lst))

[]

In [5]:
def even_check(num):
    if num%2 != 0:
        return True
    
lst = [1,2,3,4,55,6,7,3,2]
list(filter(even_check, lst))

[1, 3, 55, 7, 3]

filter with lambda fuction

In [8]:
 print(list(filter(lambda x:x%2 == 0, lst)))

[2, 4, 6, 2]

In [9]:
a = lambda x:x%2==0

In [10]:
list(filter(a,lst))

[2, 4, 6, 2]

# Object Oriented Programing

[]Class :  car (blue print of real world entity)
Object : name, model, miilage, 4 whell, entirior , extirior, engine

In [11]:
i = 10
type(i)

int

In [12]:
print(type(i))

<class 'int'>

In [13]:
s = "abhi"
type(s)

str

In [14]:
print(type(s))

<class 'str'>

In [17]:
class test:
    pass

In [18]:
a = test()  #objcet creation

In [19]:
a

In [21]:
print(type(a))

<class '__main__.test'>

In [24]:
class test1:
    pass
b = test1()
b.name = 'Abhi'
b.age = 23
b.year_of_birth = 21290

In [25]:
print(b)

<__main__.test1 object at 0x00000205718415C0>

In [27]:
b.name

'Abhi'

In [28]:
class test1:
    pass
b = test1()
b.name = 'Abhi'
b.age = 23
b.year_of_birth = 21290

c = test1()
c.name = 'werwer'
c.age = 23
c.surname = 'jdvh'

In [30]:
c.name

'werwer'

In [31]:
c.surname

'jdvh'

In [32]:
b.surname  #bcs its not availabl ein objct B

AttributeError: 'test1' object has no attribute 'surname'

Better Way

In [33]:
class Person :
    pass

john_doe = Person()
john_doe.name = 'Alec'
john_doe.surname = 'Baldwin'
john_doe_yob = 1990

print(john_doe)
print("%s %s was born in %d"%(john_doe.name, john_doe.surname, john_doe_yob))

<__main__.Person object at 0x000002056FC634E0>
Alec Baldwin was born in 1990

In [35]:
class Person :
    def __init__(self,name,surname, yob): #self(variable) is here beahave likes a pointer that point class itself
        self.name = name
        self.surname = surname
        self.yob = yob

In [36]:
a = Person() #object creation - lokking for 3 variable

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [39]:
a = Person("abhi", "pandy",1990)
print(a.name)
b = Person("asdw","asfdas",23112)
print(b.surname)

abhi
asfdas

In [38]:
a.name

'abhi'

In [40]:
class Person :
    def __init__(self,name,surname, yob): #self(variable) is here beahave likes a pointer that point class itself
        self.name1 = name
        self.surname = surname
        self.yob = yob
a = Person("abhi", "pandy",1990)
print(a.name)
b = Person("asdw","asfdas",23112)
print(b.surname)

AttributeError: 'Person' object has no attribute 'name'

In [42]:
class Person :
    def __init__(self,name,surname, yob): #self(variable) is here beahave likes a pointer that point class itself
        self.name1 = name
        self.surnamename = surname
        self.yob = yob
a = Person("abhi", "pandy",1990)
print(a.name1)
b = Person("asdw","asfdas",23112)
print(b.surnamename)

abhi
asfdas

In [43]:
class Person :
    def __init__(abhi,name,surname, yob): #self(variable) is here beahave likes a pointer that point class itself
        abhi.name1 = name
        abhi.surnamename = surname
        abhi.yob = yob
a = Person("abhi", "pandy",1990)
print(a.name1)
b = Person("asdw","asfdas",23112)
print(b.surnamename)

abhi
asfdas

**Methods

In [45]:
class Person:
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
    def age(a, current_year):
        return current_year - a.yob
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(a.name, a.surname, a.yob)

    
alec = Person("Alec", "Baldwin", 1958)
print(alec.name)
print(alec)
print(alec.age(2014))

Alec
Alec Baldwin was born in 1958
56

In [49]:
alec.age()

TypeError: age() missing 1 required positional argument: 'current_year'

In [48]:
alec.age(2022)

64

In [46]:
class Person:
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
    def age(a, current_year):
        return current_year - a.yob
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "it return what you want"

    
alec = Person("Alec", "Baldwin", 1958)
print(alec.name)
print(alec)
print(alec.age(2014))

Alec
it return what you want
56

In [50]:
alec.name

'Alec'

In [51]:
alec.yob

1958

In [52]:
alec.surname

'Baldwin'

In [53]:
class Person:
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
    def age(a, current_year):
        return current_year - a.yob
    def concatlist(b, lst1, lst2):
        return lst1+lst2
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(a.name, a.surname, a.yob)

    
alec = Person("Alec", "Baldwin", 1958)
print(alec.name)
print(alec)
print(alec.age(2014))

Alec
Alec Baldwin was born in 1958
56

In [54]:
alec.concatlist([1,2,3,4,5],[6,7,8,9,0])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [57]:
class Person:
    #multiple init
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
        
    def __init__(a,name):
        a.name = name
    
    def __init__(a,name, surname):
        a.name = name
        a.surname  = surname
        
    
    def age(a, current_year):
        return current_year - a.yob
    def concatlist(b, lst1, lst2):
        return lst1+lst2
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(a.name, a.surname, a.yob)

    
# alec = Person("Alec", "Baldwin", 1958)
# print(alec.name)
# print(alec)
# print(alec.age(2014))

In [58]:
alec1 = Person()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'surname'

In [59]:
class Person:
    #multiple init
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
        
    def __init__(a,name, surname):
        a.name = name
        a.surname  = surname
        
    def __init__(a,name):
        a.name = name
    

        
    
    def age(a, current_year):
        return current_year - a.yob
    def concatlist(b, lst1, lst2):
        return lst1+lst2
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(a.name, a.surname, a.yob)

In [60]:
alec = Person() # understand last one of class and its parameters

TypeError: __init__() missing 1 required positional argument: 'name'

In [62]:
alec = Person("Abhi")
alec1 = Person("Abhishek")
alec2 = Person("Abhi")

In [63]:
alec1.name

'Abhishek'

***Bad Practise

In [65]:
class Person:
    
    def set_name(self, name):
        self.name = name
    def set_surname(self, surname):
        self.surname = surname
    def set_yob(self, yob):
        self.yob = yob
    def age(self, current_year):
        return current_year - self.yob
    
    def __str__(self):
        return "%s %s was born in %d" %(self.name, self.surname,self,yob)

In [67]:
president = Person()
president.name()

AttributeError: 'Person' object has no attribute 'name'

In [71]:
president = Person()
president.set_name("abhi")
president.set_surname("Pandey")

In [72]:
print(president.name())

TypeError: 'str' object is not callable

In [1]:
class Person:
    def __init__(a,name, surname, yob):
        a.name = name
        a.surname  = surname
        a.yob = yob
    def age(a, current_year):
        return current_year - a.yob
    def __str__(a):#inbult funation 
        #trying to return a objcet yes i am overriding object as a string 
        return "it return what you want"

    
alec = Person("Alec", "Baldwin", 1958)
print(alec.name)
print(alec)
print(alec.age(2014))

Alec
it return what you want
56

***Abstraction : ----accessing the variable in methoda form one class to anoher ***
    

public- access anywhere any thing 
private- able to access inside / but not accessed  outside the class and package 
protected- i able to access inside the class outusiede tha class but not outside the package 

**basically it is exist or not exist***

In [24]:
class Person:
    def __init__(a,name, surname, yob):#inbuilt funation 
        a._name = name
        a._surname  = surname
        a._yob = yob
#         single _(notation) meas protected variable

    def age(a, current_year):
        return current_year - a._yob
    def __str__(a):
        #inbult function 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(a._name, a._surname, a._yob)

    
alec = Person("Alec", "Baldwin", 1958)
print(alec._name)
print(alec)
print(alec.age(2014))
alec.__dict__

Alec
Alec Baldwin was born in 1958
56

{'_name': 'Alec', '_surname': 'Baldwin', '_yob': 1958}

In [19]:
class Person:
    def __init__(self,name, surname, yob):#inbuilt funation 
        self.__name = name
        self.__surname  = surname
        self.__yob = yob
#         double __(notation) meas private variable

    def age(a, current_year):
        return current_year - self.__yob
    def __str__(a):
        #inbult function 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(self.__name, self.__surname, self.__yob)

    
alec =Person("Alec", "Baldwin", 1958)
print(alec.__name)

AttributeError: 'Person' object has no attribute '__name'

In [29]:
class Person:
    def __init__(self,name, surname, yob):#inbuilt funation 
        self.__name = name
        self.__surname  = surname
        self.__yob = yob
#         double __ (notation) meas private variable

    def age(a, current_year):
        return current_year - self.__yob
    def __str__(a):
        #inbult function 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(self.__name, self.__surname, self.__yob)

    
alec =Person("Alec", "Baldwin", 1958)

alec.__class__

alec.__dict__  #inbuilt function --> understand internal structire

{'_Person__name': 'Alec', '_Person__surname': 'Baldwin', '_Person__yob': 1958}

In [28]:
#alec.__name 
alec._Person__name

'Alec'

In [32]:
class Person:
    def __init__(self,name, surname, yob):#inbuilt funation 
        self.name = name
        self._surname  = surname
        self.__yob = yob
#         double __ (notation) meas private variable

    def age(a, current_year):
        return current_year - self.__yob
    def __str__(a):
        #inbult function 
        #trying to return a objcet yes i am overriding object as a string 
        return "%s %s was born in %d" %(self.name, self._surname, self.__yob)

    
alec =Person("Alec", "Baldwin", 1958)

alec.__class__

alec.__dict__.keys()  #inbuilt function --> understand internal structire

dict_keys(['name', '_surname', '_Person__yob'])

In [37]:
class xyz:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        return "this is a public methode"
    def _test1(self):
        print("this is  aprotected methode")
    def __test1(self):
        print("this is privalte methode")

In [38]:
obj = xyz(3,4,5)
obj.test()

'this is a public methode'

In [39]:
obj._test1()

this is  aprotected methode

In [45]:
# obj.__test1()
obj._xyz__test1()

this is privalte methode

# Inheritence

In [46]:
class xyz:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        return "this is a public methode"
obj = xyz(2,4,5)
obj.test()

'this is a public methode'

In [47]:
# inherirt ptoperty of  xyz in abc
class abc(xyz):
    pass

In [48]:
obj1 = abc()

TypeError: __init__() missing 3 required positional arguments: 'a', 'b', and 'c'

In [54]:
obj1 = abc(6,7,8)
print(obj1.test())
print(obj1.a)
print(obj1.c)

this is a public methode
6
8

In [60]:
# override the property of xyz class 
class xyz:
    def __init__(self,a,b,c=5):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        return "this is a public methode"
class abc(xyz):
    def __init__(self,a,b):
        xyz.__init__(self,a,b)
class defgh(xyz):
    def __init__(self,a,b,d,n):
        xyz.__init__(self,a,b)
        self.d = d
        self.n = n

In [64]:
obj2 = abc(1,2)
print(obj2.a)
print(obj2.b)

1
2

In [67]:
obj3 = defgh("abhi", "pandey",1,2)
print(obj3.a)
print(obj3.b)
print(obj3.n)

abhi
pandey
2

In [76]:
class abc(xyz):
    def __init__ (sefl, a,b):
        super().__init__(a,b)

In [77]:
obj2 = abc(6,7)

In [78]:
isinstance(obj2,abc)

True

In [79]:
isinstance(obj2,xyz)  #its able to acccess from abc and xyz both

True

In [ ]:
class Student(Person):
    def __init__(self, student_id, *args):  #*args ---> call each and every aeguments 
        super(Student, self).__init_(*args)
        self._student_id = student_id
charlie  = Student(1, 'charlie', 'Brown', 2006)
print(charlie._student_id)
print(type(charlie))
print(isinstace(charlie, Person))
print(isinstance(charlie, object))

In [80]:
class a:
    def test(self):
        
        print("its a class A")
class b:
    def test(self):
        print("its a class b")

its a class A
its a class b

In [83]:
obj1 = c()
obj1.test()

its a class A

In [84]:
obj1.test()

its a class A

In [86]:
#multiple inheritence 
class c(a,b):
    obja = a()
    objb = b()
    obja.test()
    objb.test()

its a class A
its a class b

In [91]:

#multilevel inheritence 
class A:
    def test(self):
        print("class A")
class B(A):
    def test1(self):
        print("class B")
class C(B):
    def test3(self):
        print("class c")

In [98]:
objj = C()
obj = B()

In [94]:
objj.test1()

class B

In [95]:
objj.test()

class A

In [97]:
objj.test3()

class c

In [99]:
obj.test()

class A

In [100]:
obj.test1()

class B

***Methode Overriording***

In [102]:
class A:
    def test(self):
        print("class A")
class B(A):
    def test(self):
        print("class B")
obj = B()

In [103]:
obj.test()

class B

Encapsulation hide the implimatioiton of methode 
1. Composite 
2. Dayanamic(use during calling a function may object + strain or data type)

In [1]:
class class1:
    def __init__(self, a1,a2,a3):
        self.a1 = a1
        self.a2 = a2
        self.a3 = a3
    def __str__(self):
        return (f'{self.a1}+" "+{self.a2}+" "+{self.a3}')    
class class2:
    def __init__(self, b1,b2,b3):
        self.b1 = b1
        self.b2 = b2
        self.b3 = b3
    def __str__(self):
        return (f'{self.b1}+" "+{self.b2}+" "+{self.b3}')
class class3:
    def __init__(self, c1,c2,c3):
        self.c1 = c1
        self.c2 = c2
        self.c3 = c3
    def __str__(self):
        return (f'{self.c1}+" "+{self.c2}+" "+{self.c3}') 
class class4:
    def __init__(self, d1,d2,d3):
        self.d1 = d1
        self.d2 = d2
        self.d3 = d3
    def __str__(self):
        return (f'{self.d1}+" "+{self.d2}+" "+{self.d3}')

In [2]:
a = class1(1,2,3)
b = class2(4,5,6)
c = class3(7,8,9)
d = class4(a,b,c)
print(d)

1+" "+2+" "+3+" "+4+" "+5+" "+6+" "+7+" "+8+" "+9

In [3]:
class class1:
    def __init__(self,a):
        self.a = a
class class2(class1):
    def __init__(self):
        class1.__init__(self)
        print(self._a)
object1 = class1(10)
object2 = class2(4)
object2.obj._a

TypeError: __init__() takes 1 positional argument but 2 were given

In [5]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
class c2(c1):
    pass
obj = c2(1,2,3)
print(obj.a)
print(obj._b)
print(obj._c1__c)

1
2
3

In [6]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
class c2(c1):
    def show(self):
        print(self.a)
        print(self._b)
        print(self._c1__c)
obj = c2(1,2,3)
obj.show()

1
2
3

In [7]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
    def __str__(self):
        return str(self.a)+str(self._b)+str(self._c1__c)

In [8]:
class c2(c1):
    def show(self):
        print(self.a)
        print(self._b)
        print(self._c1__c)
obj = c2(1,2,3)
obj.show()

1
2
3

In [9]:
class Person:
    pass
john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = 'Baldwin'
john_doe.yob = 1958

print(john_doe)

<__main__.Person object at 0x0000023D32AA80B8>

In [10]:
print("%s %s was born in %d."%(john_doe.name, john_doe.surname,john_doe.yob))

Alec Baldwin was born in 1958.

In [11]:
class Person:
    def __init__(self, name, surname, yob):
        self.name = name
        self.surname = surname
        self.yob = yob

In [12]:
alec = Person("Abhishek"," Pandey", 1998)
print(alec)

<__main__.Person object at 0x0000023D32AA8BA8>

In [13]:
print("%s %s born in %d."%(alec.name, alec.surname, alec.yob))

Abhishek  Pandey born in 1998.

In [14]:
class Person:
    def __init__(self, name, surname, yob):
        self.First_name = name
        self.Last_name = surname
        self.y_o_b = yob
    def __str__(self):
        return ("%s %s born in %d."%(self.First_name, self.Last_name, self.y_o_b))

In [15]:
Person("abhishek", "apndey", 1980)

In [16]:
print(Person("abhishek", "apndey", 1980))

abhishek apndey born in 1980.

# Bad Practise

In [17]:
class Person:
    def set_name(self,name):
        self.name = name

    def set_surname(self, surname):
        self.surname = surname
    def set_yob(self, yob):
        self.yob = yob
    def age(self, current_year):
        return current_year - self.yob
    def __str__(self):
        return ("%s %s born in %d."%(self.First_name, self.Last_name, self.y_o_b))

In [18]:
president  = Person()

In [19]:
print(president.name)

AttributeError: 'Person' object has no attribute 'name'

In [20]:
president.set_name('Abhishek')
president.set_surname("Pandey")
president.set_yob(1990)

In [21]:
print("Mr", president.name, president.surname, "is the presidetn and he is very old . he is ",president.age(2020))

Mr Abhishek Pandey is the presidetn and he is very old . he is  30

# Protect your abstraction

<!-- Protetct your abstraction -->

In [22]:
class Person:
    def __init__(self, name , surname, yob):
        self._name = name
        self._surname = surname
        self._yob = yob
    def age(self, current_year):
        return current_year - self._yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self._name, self._surname,self._yob)

alec = Person("Abhishek" ,"Pandey",1990)

In [23]:
print(alec)

Abhishek Pandey and was born 1990

In [24]:
print(alec._surname)

Pandey

In [25]:
print(alec._yob)

1990

In [26]:
class Person:
    def __init__(self, name , surname, yob):
        self.__name = name
        self.__surname = surname
        self.__yob = yob
    def age(self, current_year):
        return current_year - self.__yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self.__name, self.__surname,self.__yob)

alec = Person("Abhishek" ,"Pandey",1990)

In [27]:
print(alec)

Abhishek Pandey and was born 1990

# Inheritence

In [28]:
class xyz:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        return "this is a public methode"
obj=xyz(2,4,6)
obj.test()

'this is a public methode'

In [29]:
class abc(xyz):
    pass

In [30]:
obj1  = abc()

TypeError: __init__() missing 3 required positional arguments: 'a', 'b', and 'c'

In [31]:
obj1 = abc(8,9,10)
print(obj1.test())
print(obj1.a)
print(obj1.b)
print(obj1.c)

this is a public methode
8
9
10

In [32]:
# override the property of xyz class

In [33]:
class Person:
    def __init__(self, name , surname, yob):
        self.__name = name
        self.__surname = surname
        self.__yob = yob
    def age(self, current_year):
        return current_year - self.__yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self.__name, self.__surname,self.__yob)

    
    
class Student(Person):
    def __init__(self, student_id, *args):
        super(Student, self).__init__(*args)
        self._student_id = student_id

        
charlie = Student(1, 'Abhishek', "Brown", 2006)

# NOw best way todefine encapsualtion

In [34]:
class class1:
    def __init__(self,a ,b, c):
        self.a = a
        self._b = b
        self.__c = c
    def __str__(self):
        return str(self.a) + str(self._b) + str(self._class1__c)
obj = class1(4,5,6)
print(obj)

456

In [35]:
class class2:
    def __init__(self,a):
        self.a = a
        
    def __str__(self):
        return self
obj1 = class2(obj)
print(obj)

456

what deos in inhertitence

In [36]:
class class2(class1):
    pass

obj3 = class2(2,3,4)
print(obj3)
print(obj3.a)
print(obj3._b)
print(obj3._class1__c)

234
2
3
4

Polymorphism and DuckTyping

In [37]:
def semmer(a,b):
    return a+b

print(semmer(1,1))
print(semmer(["a","b","c"], ["d","e","f"]))
print(semmer("abhishek", "india"))

2
['a', 'b', 'c', 'd', 'e', 'f']
abhishekindia

Python file IO Operation

In [41]:
%%writefile test21.txt
hello ,this is a quik file noin

Writing test21.txt

In [39]:
pwd()

'F:\\00  - Machine Learning ++\\01 -  Python  ++'

In [42]:
# Python Opening File

In [43]:
my_file = open('test21.txt')

In [44]:
my_file

In [45]:
my_file.read()

'hello ,this is a quik file noin\n'

In [46]:
my_file.read()

''

In [47]:
my_file.seek(10)

10

In [48]:
my_file.read()

's is a quik file noin\n'

In [1]:
word = "ACADGILD"
alphabet_list = [ alphabet for alphabet in word ]
print ("ACADGILD => " + str(alphabet_list))

ACADGILD => ['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [2]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [3]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in input_list  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [4]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print("[2,3,4] =>" +  str(result))

[2,3,4] =>[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [5]:
input_list = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print("[2,3,4,5] =>" +  str(result))

[2,3,4,5] =>[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [6]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print("[1,2,3] =>" +  str(result))

[1,2,3] =>[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

# File Handling

In [35]:
%%writefile test1.txt
Hello this is first file in file handling

Overwriting test1.txt

In [36]:
pwd()

'F:\\00  - Machine Learning ++\\01 -  Python  ++'

# Python file opening

In [37]:
my_fle = open("test1.txt")

In [38]:
my_fle

In [39]:
my_fle.read()

'Hello this is first file in file handling\n'

In [40]:
# but wht happen if read file again bcs cursor will available at the last point of file 
my_fle.read()

''

In [41]:
my_fle.seek(10)

10

In [42]:
my_fle.read()

' is first file in file handling\n'

In [43]:
my_fle.readlines()

[]

In [44]:
type(my_fle.readlines())

list

# Wriring to a fle

In [45]:
my_file = open('test1.txt')

In [46]:
my_file.write("This is new file ")

UnsupportedOperation: not writable

In [49]:
my_file = open('test1.txt',mode = 'w')

In [50]:
my_file.write("this is new file ")

17

In [51]:
my_file.seek(5)

5

In [60]:
my_file = open('test1.txt',mode = 'w+')

In [61]:
my_file.seek(0)

0

In [63]:
my_file.readlines()

[]

# Iterating trhough a File

In [72]:
%%writefile test51.txt
fisrt line Abhi
second line Pandey

Overwriting test51.txt

In [73]:
my_file = open('test51.txt')

In [ ]:
my_file.read()

In [66]:
for i in open('test51.txt'):
    print(i)

fisrt line Abhi

second line Pandey

In [74]:
for i in my_file:
    print(i)

fisrt line Abhi

second line Pandey

# Straing IO

In [76]:
s = "abhi"  #(string available on rom and file stre on Hdd)
s

'abhi'

In [77]:
from io import StringIO

In [78]:
message =  "this is just a normal strain"

In [79]:
type(message)

str

In [80]:
# string to file 
f = StringIO(message)

In [81]:
type(f)

_io.StringIO

In [82]:
f.read()

'this is just a normal strain'

In [83]:
f.read()

''

In [84]:
f.seek(2)  #set a cursore

2

In [85]:
f.read()

'is is just a normal strain'

In [88]:
f.write("second line written to file like object ")

40

In [90]:
f.seek(3)

3

In [91]:
f.read()

's is just a normal strainsecond line written to file like object second line written to file like object '

# Exception Handling

In [96]:
f = open('test1.txt')
f.write("jsagvdusf")

UnsupportedOperation: not writable

In [97]:
5/0

ZeroDivisionError: division by zero

In [98]:
print('hello)

SyntaxError: EOL while scanning string literal (<ipython-input-98-126035ba983d>, line 1)

Rnu Time -->
Compile Time -> Syntectical error

In [100]:
"abhi"+7

TypeError: must be str, not int

In [101]:
f = open('test1.txt')
f.read()
f.write('muy nam eis abhihsk ')
print('this operation ')

UnsupportedOperation: not writable

In [105]:
b =  int(input("insert your intager"))
a = 5/b
a

insert your intager0

ZeroDivisionError: division by zero

# Try and Except

''

In [109]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.read())
except:
    print("this code is not correct")

In [110]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")

this code is not correct

In [117]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

this code is not correct
inpt a int for the operation 0
sorry i am not aavle to execute this

In [118]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
    try:
        c = int(input())
        a = 6+c 
    except:
        print('this is a nested try block')
except:
    print("this code is not correct")
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

this code is not correct
inpt a int for the operation 0
sorry i am not aavle to execute this

In [120]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")
    try:
        c = int(input())
        a = 6+c 
    except:
        print('this is a nested try block')
    
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

this code is not correct
0
inpt a int for the operation 0
sorry i am not aavle to execute this

In [124]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")
    try:
        c = int(input())
        a = 6+c 
    except:
        print('this is a nested try block')
    
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

    
else:
    print("this will execute itself once try will execute sucessfully")
    # try will b able to execute suceessfullt only in that cas elese block execute 
    # or execute succesfully the else block willl executed

this code is not correct
0
inpt a int for the operation 5
1.2
this will execute itself once try will execute sucessfully

In [125]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")
    try:
        c = int(input())
        a = 6+c 
    except:
        print('this is a nested try block')
    
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

    
else:
    print("this will execute itself once try will execute sucessfully")
    # try will b able to execute suceessfullt only in that cas elese block execute 
    # or execute succesfully the else block willl executed 
finally:
    print("this is my finally block it will wxecute itsef in  any condition ")

this code is not correct
0
inpt a int for the operation 0
sorry i am not aavle to execute this
this is my finally block it will wxecute itsef in  any condition

In [126]:
try : #suspecious set of code    
    f = open('test1.txt')
    print(f.write())
except:
    print("this code is not correct")
    try:
        c = int(input())
        a = 6+c 
    except:
        print('this is a nested try block')
    
try:
    b = int(input("inpt a int for the operation "))
    c = 6/b
    print(c)
except:
    print("sorry i am not aavle to execute this ")

    
else:
    print("this will execute itself once try will execute sucessfully")
    # try will b able to execute suceessfullt only in that cas elese block execute 
    # or execute succesfully the else block willl executed 
finally:
    for i in range(1,10):
        print("it will always execeuted ")
    print("this is my finally block it will wxecute itsef in  any condition ")

this code is not correct
0
inpt a int for the operation 9
0.6666666666666666
this will execute itself once try will execute sucessfully
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
it will always execeuted
this is my finally block it will wxecute itsef in  any condition

In [127]:
try:
    a = int(input("1st no :"))
    b = int(input("2nd no :"))
    c = a/b
    print(c)
except:
    print("incorect value given  by your sifr")

1st no :1
2nd no :0
incorect value given  by your sifr

In [130]:
# most IMportant question 
while True:
    try:
        a = int(input("1st No:"))
        b = int(input("2nd No :"))
        res = a/b
        print(res)
        break
    except:
        print('invalid input')
        print("please input number ")
        continue

1st No:1
2nd No :0
invalid input
please input number
1st No:12
2nd No :3
4.0

In [133]:
f = open('test1.txt', 'r')
f.write("tets writer this")

UnsupportedOperation: not writable

In [134]:
5/0

ZeroDivisionError: division by zero

In [ ]:
try :
    f = open('teat1.txt', 'w')
    f.write("tets writer this")
except `IOError:
    print("Error : coud not find fole or read data")
else:
    print("Content written successfully")

In [4]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except:
    print("there is an errror my code")

1st0
2nd1

In [6]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except Exception as e:
    print("there is an errror my code",e)

1stasdq
there is an errror my code invalid literal for int() with base 10: 'asdq'

In [8]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except ValueError:
    print("there is an errror my code")

1stas
there is an errror my code

In [9]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except IOError:
    print("there is an errror my code")

1stqwe

ValueError: invalid literal for int() with base 10: 'qwe'

In [10]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except:  #in thi s its call super clas to define exception 
    print("there is an errror my code")

1stjn
there is an errror my code

In [11]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except IOError:
    print("there is an errror my code")
except ValueError:
    print("this is a blockl for valueerror ")

1st|wqs
this is a blockl for valueerror

In [12]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except IOError:
    print("there is an errror my code")
except SyntaxError:
    print("this is a blockl for valueerror ")

1stasd

ValueError: invalid literal for int() with base 10: 'asd'

In [13]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except IOError:
    print("there is an errror my code")
except SyntaxError:
    print("this is asyntex error ")
except ValueError:
    print("this isvalue error ")

1stds
this isvalue error

In [15]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
    
except Exception:
    print("this is supar class of each and every exception, it will  not chceck any other below exception")
except IOError:
    print("there is an errror my code")
except SyntaxError:
    print("this is asyntex error ")
except ValueError:
    print("this isvalue error ")

1stwd
this is supar class of each and every exception, it will  not chcrk any other below exception

In [17]:
# best way to use supar class 

try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except IOError:
    print("there is an errror my code")
except SyntaxError:
    print("this is asyntex error ")
except ValueError:
    print("this isvalue error ")
except Exception:
    print("this is supar class of each and every exception, it will  not chceck any other below exception")

1stbi
this isvalue error

In [19]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except (IOError, SyntaxError, ValueError):
    print("there is problem with my code")

1stsdf
there is problem with my code

In [1]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
except (IOError, SyntaxError, ValueError, Exception ):
    print("there is problem with my code")

1st1
2nd2

In [3]:
try:
    a =  int(input("1st"))
    b = int(input("2nd"))
    c =  a/b
finally:
    print("this is my finally block")

1st1
2nd2
this is my finally block

# Exception handling in methode

In [7]:
def askint():
    try:
        val = int(input("1st"))
    except:
        print("look like did not enetr as integer ")
    
    finally:
        print("Finally , i executed ")
    print(val)

In [8]:
askint()

1st34
Finally , i executed
34

In [9]:
askint()

1stsdfsd
look like did not enetr as integer
Finally , i executed

UnboundLocalError: local variable 'val' referenced before assignment

In [10]:
def askint():
    try:
        val = int(input("1st"))
    except:
        print("look like did not enetr as integer ")
    
    finally:
        print("Finally , i executed ")
    try :
        print(val)
    except:
        print("this is an issue with val variable ")

In [11]:
askint()

1stsda
look like did not enetr as integer
Finally , i executed
this is an issue with val variable

In [12]:
def skint():
    try:
        val = int(input("1st value "))
    except:
        print("look like you did not eneter an integer ")
        try :
            val = int(input("1st value enet once again  "))
        except:
            print("handel it ")
    finally:
        print("finally ,, executed")

In [14]:
skint()

1st value asd
look like you did not eneter an integer
1st value enet once again  1
finally ,, executed

In [1]:
def skint():
    while True:
        try:
            val = int(input("1st value "))
        except:
            print("look like you did not eneter an integer ")
            break
        else:
            print("yep thats as integer")
        finally:
            print("finally , I Executed ")
            print(val)

In [2]:
skint()

1st value 12
yep thats as integer
finally , I Executed
12
1st value asdas
look like you did not eneter an integer
finally , I Executed
12

In [1]:
def skint():
    while True:
        try:
            val = int(input("1st value "))
        except:
            print("look like you did not eneter an integer ")
            continue
        else:
            print("yep thats as integer")
            break
        finally:
            print("finally , I Executed ")

In [2]:
skint()

1st value asd
look like you did not eneter an integer
finally , I Executed
1st value asd
look like you did not eneter an integer
finally , I Executed
1st value 1
yep thats as integer
finally , I Executed

In [3]:
#you have to aplly break ....
def skint():
    while True:
        try:
            val = int(input("1st value "))
        except:
            print("look like you did not eneter an integer ")
            continue
        else:
            print("yep thats as integer")
           
        finally:
            print("finally , I Executed ")

In [ ]:
skint()

1st value 1
yep thats as integer
finally , I Executed
1st value 1
yep thats as integer
finally , I Executed
1st value 1
yep thats as integer
finally , I Executed
1st value 1
yep thats as integer
finally , I Executed
1st value 3
yep thats as integer
finally , I Executed
1st value csd
look like you did not eneter an integer
finally , I Executed

In [8]:
try:
    f = open('test1.txt','r')
    f.write('hello this is write')
except Exception as e:
    print("its a exception thst name is : ", e)

its a exception thst name is :  not writable

# How to vcreate our own exception or custome exception

In [9]:
a = 6
b = 1
c = a/b
c
# i want b= 1 , that should be a exception

6.0

In [11]:
class division_by_1(Exception):  #inheritence performance 
    pass

In [17]:
try :
    a = int(input("1st number "))
    b = int(input("2nd number "))
    c=  a/b
    print(c)
    if b == 1 :
        raise division_by_1
except division_by_1:
    print("the input value of b was 1 ")

1st number 12
2nd number 1
12.0
the input value of b was 1

In [18]:
class xyz(Exception):  #inheritence performance 
    pass
try :
    a = int(input("1st number "))
    b = int(input("2nd number "))
    c=  a/b
    print(c)
    if b == 1 :
        raise xyz
except xyz:
    print("the input value of b was 1 ")

1st number 1
2nd number 1
1.0
the input value of b was 1

In [4]:
class division_by_1(Exception):  #inheritence performance 
    pass


class InputAsString(Exception):
    pass

In [8]:
try :
    a = (input("1st number "))
    b = int(input("2nd number "))

    if b == 1 :
        raise division_by_1
    elif type(a) == str:
        raise InputAsString
except division_by_1:
    print("the input value of b was 1 ")
except InputAsString:
    print("the value of a as a string ")

1st number 12
2nd number 1
the input value of b was 1

In [12]:
# i am failled here 

class OwnException(Exception):
    pass

In [16]:
try:
    l = list(input("plaese enetr list values "))
    str = input("pls insert some string value")
    if type(l) == int and type(str) == int:
        pass
    elif type(str)==str:
        raise OwnException
except OwnException:
    print("String and list have not perform to concatination")

plaese enetr list values 12344
pls insert some string valuesdf

# DataBase