In [2]:
i = 10
if i<5:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2c446f94c3ad>, line 3)

In [3]:
i = 10
if i<5:
print("this condition  is true")

IndentationError: expected an indented block (<ipython-input-3-04cba16f2fb8>, line 3)

In [4]:
i = 10
if i<5:
    pass

In [5]:
i = 10
if i>5:
    print("this condition  is true")

this condition  is true

In [6]:
i = 10
if i<5:
    print("this condition  is true")
elif i == 10:
    print("this is a valdi statement in elif ")

this is a valdi statement in elif

In [7]:
i = 10
if i<5:
    print("this condition  is true")
elif i == 10:
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this is a valid statementin elif

In [8]:
i = 10
if (i<5):
    print("this condition  is true")
elif (i == 10):
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this is a valid statementin elif

In [10]:
if (i< 5) & (i == 10):
    print("this is  a valid statement")
elif (i < 10):
    print("this is a valid statementin elif ")
else:
    print("this will give me a default stataement ")

this will give me a default stataement

In [11]:
i = 10
s = 'Abhi'
if i == 10:
    if type(s)==str:
        print("this is my name")
    else: 
        print("this is deafult ondition")
else:
    print("thsi iis default datement for outer if block ")

this is my name

In [12]:
i = 10
s = 'Abhi'
if i == 10:
    if type(s)==int:
        print("this is my name")
    else: 
        print("this is deafult ondition")
else:
    print("thsi iis default datement for outer if block ")

this is deafult ondition

List :

In [13]:
l = [3,4,5,6,"abhi", "pandey", "xyz"]
l

[3, 4, 5, 6, 'abhi', 'pandey', 'xyz']

In [14]:
l[::2]

[3, 5, 'abhi', 'xyz']

In [15]:
for i in l:
    pass

In [16]:
for i in l:
    print(i)

3
4
5
6
abhi
pandey
xyz

In [18]:
m = []
for i in l:
    m.append(i)

In [19]:
m

[3, 4, 5, 6, 'abhi', 'pandey', 'xyz']

In [20]:
m = []
for i in l:
    if type(i)==int:
        m.append(i)

In [21]:
m

[3, 4, 5, 6]

In [22]:
m = []
for i in l:
    if type(i)==str:
        m.append(i)

In [23]:
m

['abhi', 'pandey', 'xyz']

In [24]:
m = []
for i in l:
    if type(i)==int:
        m.append(i*10)

In [31]:
b=[]
for i in l:
    if type(i)== int:
        i=i+i
        b.append(i)
b

[6, 8, 10, 12]

In [32]:
 for i in l:
        if type(i)==int:
            i=i+i
            print(i)

6
8
10
12

In [33]:
m=0
for i in l:
    if type(i) ==int:
        m=m+i
print(m)

18

In [35]:
for i in "abhishek":
    print(i)

a
b
h
i
s
h
e
k

In [36]:
l = [4,5,6,6]
for i in l:
    print(i)
else:
    print("this is the for else block")

4
5
6
6
this is the for else block

In [37]:
l = [4,5,6,6]
for i in l:
    if i == 6:
        break
    print(i)
else: 
    print("this is the for else block")

4
5

In [38]:
l = [4,5,6,6]
for i in l:
    if i == 7:
        break
    print(i)
else:
    print("this is the for else block")

4
5
6
6
this is the for else block

COntinue statement

In [39]:
s = "abhisehk Pandey "
for i in s:
    if i == 'k':
        continue
    print(i)

a
b
h
i
s
e
h

P
a
n
d
e
y

range function : genertae some of kind (int)

In [40]:
range(6)

range(0, 6)

In [41]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [42]:
list(range(4,9))

[4, 5, 6, 7, 8]

In [43]:
list(range(4,9,2))

[4, 6, 8]

In [44]:
list(range(4,9,2.0)) #arange funstion in numpy where we can use float value

TypeError: 'float' object cannot be interpreted as an integer

In [45]:
l = [5,6,7,4,5,"abhi", "pandey"]
l

[5, 6, 7, 4, 5, 'abhi', 'pandey']

In [46]:
len(l)

7

In [47]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6

In [48]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
abhi
pandey

HOw we can take a input from keyboard

In [49]:
input()

abhhske pandey

'abhhske pandey'

In [50]:
input() #always return as a string

1234567

'1234567'

In [51]:
int(input())

12

12

In [52]:
float(input())

12.465567

12.465567

In [54]:
a = input("take my age")
type(a)

take my anme and age12

str

In [55]:
a = int(input("take my age"))
type(a)

take my age12

int

In [56]:
"abhihsek"+"pandey"  #concetination

'abhihsekpandey'

In [57]:
"abhihsek" + 9

TypeError: must be str, not int

In [58]:
"abhihsek" + '9'

'abhihsek9'

In [59]:
"abhihsek" + str(9)

'abhihsek9'

In [60]:
l = [4,5,6,6]
l1 = [4,5,6,2,3]

In [61]:
l + ["abhishek"]

[4, 5, 6, 6, 'abhishek']

In [62]:
l + l1

[4, 5, 6, 6, 4, 5, 6, 2, 3]

In [63]:
l + list(['abhishlk'])

[4, 5, 6, 6, 'abhishlk']

In [64]:
"abhihsek 'pandey'"

"abhihsek 'pandey'"

In [66]:
#this is code to explain str operation
"abhhsek "pandey""

SyntaxError: invalid syntax (<ipython-input-66-3004931928ee>, line 2)

In [68]:
# Multiple line 
'''
ya is a
multi
linr 
comment
'''

'\nya is a\nmulti\nlinr \ncomment\n'

In [1]:
 s = "abhi"

In [2]:
s.capitalize()

'Abhi'

In [3]:
s

'abhi'

In [4]:
s = s.capitalize()

In [5]:
s

'Abhi'

In [6]:
s.upper()

'ABHI'

In [11]:
s = "helo world abhishek pandey"

In [12]:
s.split()

['helo', 'world', 'abhishek', 'pandey']

In [13]:
s.split('o')

['hel', ' w', 'rld abhishek pandey']

Format Function

In [14]:
"my name is {}. my age is {}".format('Abhoshek', 32)

'my name is Abhoshek. my age is 32'

In [15]:
s = "hello world"

In [17]:
s.find('l')  #first occurence of data

2

In [29]:
str = 'hello world'
l= []
l1 = []
for i in range(len(str)):
    if str[i]=='l':
        l.append(i)
        l1.append(str[i])
print(l)
print(l1)

[2, 3, 9]
['l', 'l', 'l']

In [30]:
s = "abhi"
s

'abhi'

In [31]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvvabhivvvvvvvvvvvvvvvvvv'

In [32]:
s.center(40,'vu')

TypeError: The fill character must be exactly one character long

In [33]:
'hello\tworld'.expandtabs()

'hello   world'

In [38]:
y = 'hello'
y

'hello'

In [39]:
y.isalnum()

True

In [40]:
y.isalpha()

True

In [42]:
y.isnumeric()

False

In [43]:
y.islower()

True

In [44]:
y.isupper()

False

In [45]:
y.isspace()

False

In [46]:
"abhi" *3

'abhiabhiabhi'

In [47]:
[5,6,8]*3

[5, 6, 8, 5, 6, 8, 5, 6, 8]

In [48]:
l = [1,2,3,4,5,6,6,7,"abhi"]
l

[1, 2, 3, 4, 5, 6, 6, 7, 'abhi']

In [49]:
l.append("apndey")

In [50]:
l

[1, 2, 3, 4, 5, 6, 6, 7, 'abhi', 'apndey']

In [51]:
l.insert(2,"xyz")

In [52]:
l.pop()

'apndey'

In [53]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 6, 7, 'abhi']

In [54]:
l.pop()

'abhi'

In [55]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 6, 7]

In [56]:
l.pop(3)

3

In [57]:
l

[1, 2, 'xyz', 4, 5, 6, 6, 7]

In [58]:
 l[::-1]

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [59]:
l

[1, 2, 'xyz', 4, 5, 6, 6, 7]

In [60]:
l.reverse()

In [61]:
l

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [62]:
l

[7, 6, 6, 5, 4, 'xyz', 2, 1]

In [63]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
l = [1,2,3,4,4,3,2]
l.sort()

In [68]:
l

[1, 2, 2, 3, 3, 4, 4]

In [69]:
s1 = ["abhi","pandey","lucknow"]

In [70]:
s1.sort()

In [71]:
s1

['abhi', 'lucknow', 'pandey']

In [72]:
l = [4,5,66,7]
l[3] = "abhi"  #possible bcs list is a mutible but not string

In [73]:
l

[4, 5, 66, 'abhi']

In [74]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,4,5,3]

In [75]:
l = [l1,l2,l3]

In [76]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 4, 5, 3]]

In [77]:
# [3,7,5]
n = []
for lis in l:
    n.append(lis[2])
n

[3, 7, 5]

list comprihension

In [78]:
[i[2] for i in l]

[3, 7, 5]

In [79]:
l = [4,5,6,6]

In [82]:
l.append([1,2,3,4,5])

In [83]:
l

[4, 5, 6, 6, 8, [1, 2, 3, 4, 5]]

In [84]:
l1 = [4,5,6,7]

In [85]:
l1.extend([5,6,7]) # in this case list will not append not bracket

In [86]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [87]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
#iwant to remove all the '2'

l = [i for i in l if i!=2]
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [90]:
m = []
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
for i in l:
    if i != 2:
        m.append(i)
print(m)

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [92]:
l = [5,3,4,5,6,7,8,5,6,7,8,2,4,5,2,3,4,5,2]
while 2 in l:
    l.remove(2)
l

[5, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 4, 5, 3, 4, 5]

In [94]:
list(range(40,10,-3)) #why 13 so pls draw a scaling

[40, 37, 34, 31, 28, 25, 22, 19, 16, 13]