In [ ]:
LIST

In [1]:
l = []
type(l)

list

In [2]:
l1 = list()
type(l1)

list

In [3]:
li = list("Abhi") #string is a iterable variable
li

['A', 'b', 'h', 'i']

In [4]:
li = list(["Abhi"]) #iterable variable
li

['Abhi']

In [6]:
l1 = list(34)  #int' object is not iterable

TypeError: 'int' object is not iterable

In [7]:
l = [3,4,5,6,7,7]
l[0] = "abhi"
l

['abhi', 4, 5, 6, 7, 7]

Tuples

In [8]:
c = ()
type(c)

tuple

In [9]:
c = (93,4,545,67,7)
c

(93, 4, 545, 67, 7)

In [10]:
c = (1,2,33,4,"abhi", "a", "mai")
c

(1, 2, 33, 4, 'abhi', 'a', 'mai')

In [11]:
type(c)

tuple

how tuple are differ

In [12]:
c[0]

1

In [13]:
c[0:5]

(1, 2, 33, 4, 'abhi')

In [14]:
c[0:5:2]

(1, 33, 'abhi')

In [15]:
c[::-1]

('mai', 'a', 'abhi', 4, 33, 2, 1)

In [16]:
c[0] = 'abhiyantriki'  # i a not able to replace it becase it is imutable entity

TypeError: 'tuple' object does not support item assignment

Iterate the data or not

In [17]:
for i in c:
    print(i)

1
2
33
4
abhi
a
mai

In [21]:
c.count(1)

1

In [22]:
c.count(33)

1

In [23]:
c.count('Abhi')

0

In [24]:
c.index(1)

0

In [25]:
c.index(33)

2

In [26]:
a = 4,5,6,7  #simple normal variable a
a

(4, 5, 6, 7)

In [27]:
type(a)

tuple

In [28]:
a[2]

6

In [29]:
a,b,c,  = 4,5,6

In [30]:
a

4

In [31]:
b

5

In [32]:
c

6

In [33]:
type(a)

int

Nested Tuple

In [34]:
t = ((3,4,5), (5,6,7,8))

In [35]:
t

((3, 4, 5), (5, 6, 7, 8))

In [37]:
l = [(1,2,3,4,5)]

In [38]:
l

[(1, 2, 3, 4, 5)]

In [39]:
l[0][2]

3

In [40]:
b = ([4,5,6,7,8])

In [41]:
b

[4, 5, 6, 7, 8]

In [42]:
type(b)

list

In [43]:
b[0]

4

In [44]:
b = ([2,3,4,5], [1,2,7,8])
b

([2, 3, 4, 5], [1, 2, 7, 8])

In [45]:
type(b)

tuple

how to make mutable tuple

In [46]:
c = (4,5,6,7)
l = list(c)
l

[4, 5, 6, 7]

In [47]:
l[3] = 'ABhishek'

In [48]:
l

[4, 5, 6, 'ABhishek']

In [49]:
tuple(l)

(4, 5, 6, 'ABhishek')

# Sets

In [50]:
s = {}

In [51]:
type(s) #its showing sets data type

dict

In [52]:
s = {1,2,4,5,6}
type(s)

set

In [55]:
s = {1,2,3,5,7,"abhi",2,1,4,6,5,1,5,3,6,2,1, "abhi", "Abhi"}
s

{1, 2, 3, 4, 5, 6, 7, 'Abhi', 'abhi'}

In [56]:
x =set() # by functoin

In [57]:
type(x)

set

In [58]:
s = {[1,2,3,4,5,6], [6,7,8,9]}

TypeError: unhashable type: 'list'

In [59]:
x = set(1,23,4,5,7,8,8)

TypeError: set expected at most 1 arguments, got 7

In [63]:
x = set([1,23,4,5,7,8,8,1,23])
x

{1, 4, 5, 7, 8, 23}

In [65]:
x[0]

TypeError: 'set' object does not support indexing

In [64]:
for i in x:
    print(i)

1
4
5
7
8
23

INbuilt methode

In [66]:
x

{1, 4, 5, 7, 8, 23}

In [67]:
x.add(55)

In [68]:
x

{1, 4, 5, 7, 8, 23, 55}

In [71]:
l = list(x)
l

[1, 4, 5, 7, 8, 55, 23]

In [72]:
set(l)

{1, 4, 5, 7, 8, 23, 55}

In [75]:
# set holddata in ascending order ?
n = {1,6,3,4,9,1,3,0.45,32,78,90,23}
n

{0.45, 1, 3, 4, 6, 9, 23, 32, 78, 90}

In [76]:
n = {1,6,3,4,9,1,3,0.45,32,78,90,23,"Abhi", "sudh", 'a',3,4,2,6,75,34,90,67}
n

{0.45, 1, 2, 23, 3, 32, 34, 4, 6, 67, 75, 78, 9, 90, 'Abhi', 'a', 'sudh'}

sort the data first element of the number 234,32,31,4

#Dictionaries

In [1]:
v = {}
type(v)

dict

In [2]:
v = {'key':"abhi"}
type(v)

dict

In [3]:
v[0] #key error

KeyError: 0

In [5]:
v['key']

'abhi'

In [8]:
v = {'key1':"abhi", 'key2':"xyz",'key3':'abc'}
v

{'key1': 'abhi', 'key2': 'xyz', 'key3': 'abc'}

In [9]:
v['key1']

'abhi'

In [10]:
v['key2']

'xyz'

In [14]:
v = {1:9, 2:45, 3:"abhi"}

In [15]:
v

{1: 9, 2: 45, 3: 'abhi'}

In [16]:
v[1]

9

In [17]:
v[3]

'abhi'

In [19]:

v = {'key':'abhi', 'key':'pandey'}  #override when same key name 
v

{'key': 'pandey'}

In [20]:
v = {"key1":"abhi", 'key2':[1,2,3,4,5,'abhi']}

In [21]:
v

{'key1': 'abhi', 'key2': [1, 2, 3, 4, 5, 'abhi']}

In [22]:
v['key2']

[1, 2, 3, 4, 5, 'abhi']

In [23]:
v = {"key1":"abhi", 'key2':(1,2,3,4,5)}

In [24]:
v

{'key1': 'abhi', 'key2': (1, 2, 3, 4, 5)}

dict within dict

In [25]:
d = {'a':34, 'b':345, 'c':'ABhi','d':{0:1231234, 1:12312, 2:32423}}

In [26]:
d

{'a': 34, 'b': 345, 'c': 'ABhi', 'd': {0: 1231234, 1: 12312, 2: 32423}}

In [27]:
d['d']

{0: 1231234, 1: 12312, 2: 32423}

In [28]:
d['d'][0]

1231234

In [29]:
for i in d:
    print(i)  #output = key only not value

a
b
c
d

In [31]:
for i in d:
    print(i+ " " + str(d[i]))

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [32]:
for i in d:
    print(i,str(d[i]))

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [34]:
for i in d:
    print(i, d[i])

a 34
b 345
c ABhi
d {0: 1231234, 1: 12312, 2: 32423}

In [35]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [36]:
d.values()

dict_values([34, 345, 'ABhi', {0: 1231234, 1: 12312, 2: 32423}])

In [37]:
my_dict = {True:'value1','key2':'abhi' }

In [38]:
my_dict

{True: 'value1', 'key2': 'abhi'}

In [39]:
my_dict['key45'] = 'new_name '

In [40]:
my_dict

{True: 'value1', 'key2': 'abhi', 'key45': 'new_name '}

Update

In [44]:
my_dict['key2']='abhishek_updated'

In [45]:
my_dict

{True: 'value1', 'key2': 'abhishek_updated', 'key45': 'new_name '}

# Nesting Dictionary

In [46]:
d = {'key1':{'nestkey':{'sunnestkey':'value'}}}

In [47]:
d

{'key1': {'nestkey': {'sunnestkey': 'value'}}}

In [48]:
d['key1']

{'nestkey': {'sunnestkey': 'value'}}

In [49]:
d['key1']['nestkey']

{'sunnestkey': 'value'}

In [51]:
d.items()

dict_items([('key1', {'nestkey': {'sunnestkey': 'value'}})])

Dictionary  Comprihension

In [52]:
l = ['abhi', 'pandey','xyz', 'abc']
l

['abhi', 'pandey', 'xyz', 'abc']

In [53]:
{i[0]:i for i in l}

{'a': 'abc', 'p': 'pandey', 'x': 'xyz'}

In [55]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [56]:
{x:x**2 for x in range(10) if x%2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [57]:
{x:x**2 for x in range(10) if x%2 == 1}

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [58]:
#condition 
l = ['abhi', 'pandey','xyz', 'abc',2,3,4]
l

['abhi', 'pandey', 'xyz', 'abc', 2, 3, 4]

In [59]:
{i[0]:i for i in l}

TypeError: 'int' object is not subscriptable

In [60]:
{i[0]:i for i in l if type(i) == str}

{'a': 'abc', 'p': 'pandey', 'x': 'xyz'}

# FUnction

In [61]:
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-61-9873bc519466>, line 1)

In [62]:
def test():
    pass

In [63]:
def test():
    print('this is my first function ')

In [64]:
test()   #fucntion calling

this is my first function

In [65]:
a = test()
a

this is my first function

In [67]:
type(a)

NoneType

In [66]:
a + "abhi"   #nonetype+str is not allowed to concate

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [68]:
def test1():
    return 'this isfunctoin with return type'

In [70]:
test1()

'this isfunctoin with return type'

In [72]:
b = test1()
b

'this isfunctoin with return type'

In [75]:
type(b)

str

In [74]:
b+ "abhishek "

'this isfunctoin with return typeabhishek '

In [76]:
def test1():
    return 5+8j , 5,6,78

In [77]:
test1()

((5+8j), 5, 6, 78)

In [78]:
a,b,c,d = test1()

In [79]:
a

(5+8j)

In [80]:
b

5

In [81]:
c

6

In [82]:
d

78

In [84]:
a,_,_,_ = test1()
a

(5+8j)

(5+8j)

In [86]:
def test2(a,b):
    return a+b

In [87]:
test2(1,2)

3

In [90]:
test2()

TypeError: test2() missing 2 required positional arguments: 'a' and 'b'

In [91]:
test2([1,2,3,4,5], "abhi")

TypeError: can only concatenate list (not "str") to list

In [92]:
test2([1,2,3,4,5], list("abhi"))

[1, 2, 3, 4, 5, 'a', 'b', 'h', 'i']