Encapsulation hide the implimatioiton of methode 
1. Composite 
2. Dayanamic(use during calling a function may object + strain or data type)

In [1]:
class class1:
    def __init__(self, a1,a2,a3):
        self.a1 = a1
        self.a2 = a2
        self.a3 = a3
    def __str__(self):
        return (f'{self.a1}+" "+{self.a2}+" "+{self.a3}')    
class class2:
    def __init__(self, b1,b2,b3):
        self.b1 = b1
        self.b2 = b2
        self.b3 = b3
    def __str__(self):
        return (f'{self.b1}+" "+{self.b2}+" "+{self.b3}')
class class3:
    def __init__(self, c1,c2,c3):
        self.c1 = c1
        self.c2 = c2
        self.c3 = c3
    def __str__(self):
        return (f'{self.c1}+" "+{self.c2}+" "+{self.c3}') 
class class4:
    def __init__(self, d1,d2,d3):
        self.d1 = d1
        self.d2 = d2
        self.d3 = d3
    def __str__(self):
        return (f'{self.d1}+" "+{self.d2}+" "+{self.d3}')

In [2]:
a = class1(1,2,3)
b = class2(4,5,6)
c = class3(7,8,9)
d = class4(a,b,c)
print(d)

1+" "+2+" "+3+" "+4+" "+5+" "+6+" "+7+" "+8+" "+9

In [3]:
class class1:
    def __init__(self,a):
        self.a = a
class class2(class1):
    def __init__(self):
        class1.__init__(self)
        print(self._a)
object1 = class1(10)
object2 = class2(4)
object2.obj._a

TypeError: __init__() takes 1 positional argument but 2 were given

In [5]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
class c2(c1):
    pass
obj = c2(1,2,3)
print(obj.a)
print(obj._b)
print(obj._c1__c)

1
2
3

In [6]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
class c2(c1):
    def show(self):
        print(self.a)
        print(self._b)
        print(self._c1__c)
obj = c2(1,2,3)
obj.show()

1
2
3

In [7]:
class c1:
    def __init__(self,a,b,c):
        self.a = a
        self._b = b
        self.__c = c
    def __str__(self):
        return str(self.a)+str(self._b)+str(self._c1__c)

In [8]:
class c2(c1):
    def show(self):
        print(self.a)
        print(self._b)
        print(self._c1__c)
obj = c2(1,2,3)
obj.show()

1
2
3

In [9]:
class Person:
    pass
john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = 'Baldwin'
john_doe.yob = 1958

print(john_doe)

<__main__.Person object at 0x0000023D32AA80B8>

In [10]:
print("%s %s was born in %d."%(john_doe.name, john_doe.surname,john_doe.yob))

Alec Baldwin was born in 1958.

In [11]:
class Person:
    def __init__(self, name, surname, yob):
        self.name = name
        self.surname = surname
        self.yob = yob

In [12]:
alec = Person("Abhishek"," Pandey", 1998)
print(alec)

<__main__.Person object at 0x0000023D32AA8BA8>

In [13]:
print("%s %s born in %d."%(alec.name, alec.surname, alec.yob))

Abhishek  Pandey born in 1998.

In [14]:
class Person:
    def __init__(self, name, surname, yob):
        self.First_name = name
        self.Last_name = surname
        self.y_o_b = yob
    def __str__(self):
        return ("%s %s born in %d."%(self.First_name, self.Last_name, self.y_o_b))

In [15]:
Person("abhishek", "apndey", 1980)

In [16]:
print(Person("abhishek", "apndey", 1980))

abhishek apndey born in 1980.

# Bad Practise

In [17]:
class Person:
    def set_name(self,name):
        self.name = name

    def set_surname(self, surname):
        self.surname = surname
    def set_yob(self, yob):
        self.yob = yob
    def age(self, current_year):
        return current_year - self.yob
    def __str__(self):
        return ("%s %s born in %d."%(self.First_name, self.Last_name, self.y_o_b))

In [18]:
president  = Person()

In [19]:
print(president.name)

AttributeError: 'Person' object has no attribute 'name'

In [20]:
president.set_name('Abhishek')
president.set_surname("Pandey")
president.set_yob(1990)

In [21]:
print("Mr", president.name, president.surname, "is the presidetn and he is very old . he is ",president.age(2020))

Mr Abhishek Pandey is the presidetn and he is very old . he is  30

# Protect your abstraction

<!-- Protetct your abstraction -->

In [22]:
class Person:
    def __init__(self, name , surname, yob):
        self._name = name
        self._surname = surname
        self._yob = yob
    def age(self, current_year):
        return current_year - self._yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self._name, self._surname,self._yob)

alec = Person("Abhishek" ,"Pandey",1990)

In [23]:
print(alec)

Abhishek Pandey and was born 1990

In [24]:
print(alec._surname)

Pandey

In [25]:
print(alec._yob)

1990

In [26]:
class Person:
    def __init__(self, name , surname, yob):
        self.__name = name
        self.__surname = surname
        self.__yob = yob
    def age(self, current_year):
        return current_year - self.__yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self.__name, self.__surname,self.__yob)

alec = Person("Abhishek" ,"Pandey",1990)

In [27]:
print(alec)

Abhishek Pandey and was born 1990

# Inheritence

In [28]:
class xyz:
    def __init__(self, a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def test(self):
        return "this is a public methode"
obj=xyz(2,4,6)
obj.test()

'this is a public methode'

In [29]:
class abc(xyz):
    pass

In [30]:
obj1  = abc()

TypeError: __init__() missing 3 required positional arguments: 'a', 'b', and 'c'

In [31]:
obj1 = abc(8,9,10)
print(obj1.test())
print(obj1.a)
print(obj1.b)
print(obj1.c)

this is a public methode
8
9
10

In [32]:
# override the property of xyz class

In [33]:
class Person:
    def __init__(self, name , surname, yob):
        self.__name = name
        self.__surname = surname
        self.__yob = yob
    def age(self, current_year):
        return current_year - self.__yob
    
    def __str__(self):
        return "%s %s and was born %d"%(self.__name, self.__surname,self.__yob)

    
    
class Student(Person):
    def __init__(self, student_id, *args):
        super(Student, self).__init__(*args)
        self._student_id = student_id

        
charlie = Student(1, 'Abhishek', "Brown", 2006)

# NOw best way todefine encapsualtion

In [34]:
class class1:
    def __init__(self,a ,b, c):
        self.a = a
        self._b = b
        self.__c = c
    def __str__(self):
        return str(self.a) + str(self._b) + str(self._class1__c)
obj = class1(4,5,6)
print(obj)

456

In [35]:
class class2:
    def __init__(self,a):
        self.a = a
        
    def __str__(self):
        return self
obj1 = class2(obj)
print(obj)

456

what deos in inhertitence

In [36]:
class class2(class1):
    pass

obj3 = class2(2,3,4)
print(obj3)
print(obj3.a)
print(obj3._b)
print(obj3._class1__c)

234
2
3
4

Polymorphism and DuckTyping

In [37]:
def semmer(a,b):
    return a+b

print(semmer(1,1))
print(semmer(["a","b","c"], ["d","e","f"]))
print(semmer("abhishek", "india"))

2
['a', 'b', 'c', 'd', 'e', 'f']
abhishekindia

Python file IO Operation

In [41]:
%%writefile test21.txt
hello ,this is a quik file noin

Writing test21.txt

In [39]:
pwd()

'F:\\00  - Machine Learning ++\\01 -  Python  ++'

In [42]:
# Python Opening File

In [43]:
my_file = open('test21.txt')

In [44]:
my_file

In [45]:
my_file.read()

'hello ,this is a quik file noin\n'

In [46]:
my_file.read()

''

In [47]:
my_file.seek(10)

10

In [48]:
my_file.read()

's is a quik file noin\n'

In [1]:
word = "ACADGILD"
alphabet_list = [ alphabet for alphabet in word ]
print ("ACADGILD => " + str(alphabet_list))

ACADGILD => ['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [2]:
input_list = ['x','y','z']
result = [ item*num for item in input_list for num in range(1,5)  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [3]:
input_list = ['x','y','z']
result = [ item*num for num in range(1,5) for item in input_list  ]
print("['x','y','z'] => " +   str(result))

['x','y','z'] => ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [4]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print("[2,3,4] =>" +  str(result))

[2,3,4] =>[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [5]:
input_list = [2,3,4,5]
result = [ [item+num for item in input_list] for num in range(0,4)  ]
print("[2,3,4,5] =>" +  str(result))

[2,3,4,5] =>[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [6]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print("[1,2,3] =>" +  str(result))

[1,2,3] =>[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]