In [2]:
def tset1():
    return 5+8j, 1 , 2,3

In [5]:
tset1()

((5+8j), 1, 2, 3)

Argumented Funaction

In [6]:
def test5(a, b = 1):
    return a+b

In [7]:
test5(10)

11

In [8]:
test5(10,10)

20

In [10]:
def test(a,b,m,m): #name should not be duplicate at any point of time 
    pass

SyntaxError: duplicate argument 'm' in function definition (<ipython-input-10-11646af84bd6>, line 4)

In [11]:
def  test5(a,b=12,n,m):  #defu;at argument should be last argumant 
    pass

SyntaxError: non-default argument follows default argument (<ipython-input-11-5e61448125d0>, line 1)

In [12]:
def  test5(a,n,mb=12):  #defu;at argument should be last argumant 
    pass

In [15]:
def modifylist(a):
    l = []
    if type(a) == list:
        for i in a :
            l.append(i+4)
    else:
        print('input is not a list')
    return l

In [16]:
modifylist([1,2,3,4,5,6,7,8,9])

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [17]:
modifylist('hello')

input is not a list

[]

In [19]:
def modifylist(a):
    l = []
    if type(a) == list:
        for i in a :
            l.append(i+4)
        return l
    else:
        print('input is not a list')

In [20]:
modifylist([1,2,3,4])

[5, 6, 7, 8]

Placeholder

In [22]:
def greeting(name):
    print('hello %d'%name)

In [25]:
greeting(12)

hello 12

In [26]:
def greeting(name):
    print('hello %s'%name)

In [27]:
greeting('abhi')

hello abhi

In [124]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else:
            print('prime')

In [127]:
is_prime(17)

prime

In [32]:
is_prime(12)

not prime

In [37]:
is_prime(123123778877453521377)

not prime

In [47]:
import math

def is_prime(num):
    if num % 2 == 0 and num >  2:#check for even number
        return False
    for i in range(3, int(math.sqrt(num))+1,2): #chek for odd number
        if num % i == 0:
            return False
    return True

In [48]:
is_prime(101)

True

In [52]:
is_prime(17)

True

In [53]:
is_prime(2)

True

# Iteratore and Generatoer

In [54]:
range(8)  #Generatore functionn

range(0, 8)

In [55]:
type(range(0,8))

range

In [56]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

How to create range like function

In [57]:
def gencubes(n):
    for num in range(n):
        print(num**3)

In [59]:
gencubes(9)

0
1
8
27
64
125
216
343
512

In [104]:
# this function is a generatore function 
def gencubes(n):
    for num in range(n):
        yield(num**3)

In [105]:
gencubes(5)

In [106]:
b = gencubes(6)

In [110]:
next(b)

8

In [68]:
list(gencubes(5))

[0, 1, 8, 27, 64]

In [70]:
next(gencubes(5))

0

In [71]:
for i in gencubes(5):
    print(i)

0
1
8
27
64

In [75]:
a = 'abhi'  #string is itearbele its not a iteratore 
next(a)

TypeError: 'str' object is not an iterator

In [79]:
a = 189
next(a)

TypeError: 'int' object is not an iterator

In [80]:
iter(12)

TypeError: 'int' object is not iterable

In [78]:
b  =iter(a)
next(b)

'a'

In [73]:
for i in "abhishek Pandey":
    print(i)

a
b
h
i
s
h
e
k

P
a
n
d
e
y

In [ ]:
ierable  : 
iteratore:

In [81]:
a  ='abhi'

In [82]:
next(a)

TypeError: 'str' object is not an iterator

In [83]:
c = iter(a)  #data must be have iterable otherwise you cant convert it into iterable

In [86]:
next(c)

'h'

In [87]:
c = iter(739485)

TypeError: 'int' object is not iterable

In [89]:
s =  [ 1,2,3,4,5,6]

In [90]:
next(s)

TypeError: 'list' object is not an iterator

In [92]:
c = iter(s)

In [96]:
next(c)

4

In [111]:
next(range(8))

TypeError: 'range' object is not an iterator

In [112]:
b = iter(range(6))

In [115]:
next(b)

2

fibonacci

In [116]:
def genfibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b  = b,a+b

In [119]:
for num in genfibon(10):
    print(num, end=",")

1,1,2,3,5,8,13,21,34,55,

In [120]:
def fibon(n):
    a = 1
    b =1 
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [121]:
fibon(5)

[1, 1, 2, 3, 5]

In [123]:
fibon(100)

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229,
 832040,
 1346269,
 2178309,
 3524578,
 5702887,
 9227465,
 14930352,
 24157817,
 39088169,
 63245986,
 102334155,
 165580141,
 267914296,
 433494437,
 701408733,
 1134903170,
 1836311903,
 2971215073,
 4807526976,
 7778742049,
 12586269025,
 20365011074,
 32951280099,
 53316291173,
 86267571272,
 139583862445,
 225851433717,
 365435296162,
 591286729879,
 956722026041,
 1548008755920,
 2504730781961,
 4052739537881,
 6557470319842,
 10610209857723,
 17167680177565,
 27777890035288,
 44945570212853,
 72723460248141,
 117669030460994,
 190392490709135,
 308061521170129,
 498454011879264,
 806515533049393,
 1304969544928657,
 2111485077978050,
 3416454622906707,
 5527939700884757,
 8944394323791464,
 14472334024676221,
 23416728348467685,
 37889062373143906,
 61305790721611591,
 99194853094755497,
 160500643816367088,
 259695496911122585,
 420196140727489673,
 679891637638612258,
 1100087778366101931,
 1779979416004714189,
 2880067194370816120,
 4660046610375530309,
 7540113804746346429,
 12200160415121876738,
 19740274219868223167,
 31940434634990099905,
 51680708854858323072,
 83621143489848422977,
 135301852344706746049,
 218922995834555169026,
 354224848179261915075]

MAP Function

In [4]:
def fahrenheit(T):
    return ((float(9)/5)*(T-32))

In [5]:
def celsius(T):
    return (float(5)/9)*(T-32)

In [6]:
def sum(x,y):
    return x+y

In [7]:
temp = [0,22.5,40,100]

In [8]:
l = []
for i in temp:
    l.append(fahrenheit(i))

In [9]:
l

[-57.6, -17.1, 14.4, 122.4]

In [11]:
# mqp(function , data)
F_temp = list(map(fahrenheit, temp))

F_temp

[-57.6, -17.1, 14.4, 122.4]

In [ ]:
list(map)

In [14]:
def test(b):
    return b**5

In [15]:
l = [1,2,3,4,5]

In [17]:
m = []
for i in l:
    m.append(test(i))
m

[1, 32, 243, 1024, 3125]

In [18]:
#by using MAP function 
list(map(test,l))

[1, 32, 243, 1024, 3125]

In [20]:
# Lamnda OPeration : able to create anynomous funcition
    
list(map(lambda x:x**5,l))

[1, 32, 243, 1024, 3125]

In [21]:
a  = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12,4,5]

In [22]:
def test(x,y,z):
    return x+y+z

In [23]:
list(map(test,a,b,c))

[15, 18, 21, 24]

In [24]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

Reduc function --> for aggregation opeartion

In [27]:
from functools import reduce
lst   = [ 'asdASD','ASDas','asfdasc','sds']
l = [4,11,42,13]
reduce(lambda a,b : a+b, lst)

'asdASDASDasasfdascsds'

In [28]:
def summation(a,b):
    return a+b

In [30]:
from functools import reduce
reduce(summation, l)

70

In [32]:
reduce(lambda a,b: a+b, l)

70

In [31]:
from functools import reduce
reduce(summation, lst)

'asdASDASDasasfdascsds'

In [ ]:
from IPython.display import Image
Image()